html {
  background-color: #ffffff;
    color: #000080;
}
a:link {
    color: #800080;
}
a:visited {
    color:#ff0000;
}

.column {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-width: 50%;
column-width: 50%;
-moz-column-width: 50%;
list-style-position: inside;
}

ul {
    font-size:10px;
    }
a {
    font-size:16px;}
}

h2 {
     font-size: large;
    font-weight: bold;
}
.big {
    font-size: xx-large;
}

.small {
    font-size: x-small;
}
h4 {
    line-height: 5px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto ;
   }

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size:10px
}

.title {
    margin: auto;
    width: 20em;
    padding: 10px;
    display: block;
}

.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);



/*
* — What is important to know when linking an external file (like a stylesheet) to an HTML file? — * It is important to know how to write the link tag that will allow the external file to be applied to the HTML file. For linking a CSS stylesheet, you would write the link tag in the head of the HTML file <link rel="stylesheet" type="text/css" href="stylesheets/my-berkshire-stylesheet.css">. The name and pathway to the external file goes in the href attribute. The type of external file goes in the type attribute. The relationship goes in the rel attribute. * -What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it? - * For positioning, I mainly used the selectors, margin and padding. Margin elements can be very powerful for when you want a simple action such as centering a block. If you set the left and right margins to auto, both sides of the block will try to occupy as much space as possible allowing the block to be placed horizontally in the center. It was pretty hard to get the site as we wanted, since it required a lot of tedious research. Even if you had the margins right, the display would also have to be adjusted correctly to make it look a certain way. * - What CSS did you use to modify the element style (like size, color, etc.) - * For modifying sizes, we used px, size (large,small, etc), and percentage. When we knew we wanted it a certain size (16px), we were able to write down that size for the width, height, padding, etc. We also researched the CSS to draw a line that Berkshire Hathaway's website and were able to find a selector called linear-gradient, which gives your line a gradient effect. This is not what Berkshire Hathaway has but I found it cool. - * Did you modify the HTML to include classes or ids? If so, which did you chose and why? If you didn't, how would you know which one to add to your HTML? * - Yes, we added several classes: .column, .big, .small,.center, .title. We added .column to be able to adjust the unordered list only into two columns. We also used classes (.big and .small) to be able to increase the size of just the B and H in Berkshire Hathaway. We also used .center to center the Geico logo and information beneath it. * -
When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why? When comparing our site to the actual one, I noticed that one of the biggest differences was the columns. Berkshire Hathaway used table tags to make each link in the columns a table row. For us, we used unordered list and could only customize it by adding a class to ul. I think by creating a table, the actual site was able to cutomize the columns more specifically. For centering the Geico Logo, we used CSS and had a hard time with it. On the actual site, they directly write a styling into the HTML and I think this is easier and much more simple. - *
*/


